/* CSS to center paragraph and footer */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Arial, sans-serif; /* Optional font styling */
  }
  
h1 {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    color: red;
}

p {
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    margin: 50px;
}
  
img {
  display: block;
  margin: 0 auto;
  padding: 100px;
}

footer {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    color: red;
    margin-top: auto;
    margin-bottom: 20px;
}

