/* CSS to center paragraph and footer */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Arial, sans-serif; /* Optional font styling */
  }
  
p {
    text-align: center;
    margin: 10px;
}
  
img {
  display: block;
  margin: 0 auto;
  padding: 100px;
}

footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
}

