 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.column {
    width: 100px;
    height: 100%;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    color: white;
    position: relative;
    top: -50px;
    margin: 0 50px; /* Add horizontal margin of 50px on each side */
}

.column:hover {
    color: red;
    cursor: pointer; /* Change cursor to hand symbol */
}

.column a:hover {
    color: red;
    cursor: pointer; /* Change cursor to hand symbol */
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}
